.modal-container{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal{
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 25em;
}

.modal .btn{
    display: block;
    margin: auto;
    border: none;
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    width: 90px;

}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select{
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
}

.form-group label{
    margin-bottom: 0.2rem ;
}